# # Note, a number of Melzi boards are shipped with a bootloader that
# # requires the following command to flash the board:
# #  avrdude -p atmega1284p -c arduino -b 57600 -P /dev/ttyUSB0 -U out/klipper.elf.hex
# # If the above command does not work and "make flash" does not work
# # then one may need to flash a bootloader to the board - see the
# # Klipper docs/Bootloaders.md file for more information.

# # See docs/Config_Reference.md for a description of parameters.

# {printer.gcode_move.position.z}

[include global.cfg]
[include fluidd.cfg]
[include tools.cfg]

[save_variables]
filename: /home/dietpi/printer_data/config/variables.cfg

[mcu]
serial: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AI02VRID-if00-port0
baud: 230400
restart_method: command

[force_move]
enable_force_move: True

[gcode_arcs]
resolution: 0.5

[duplicate_pin_override]
pins: PC5, PA0 #, PD2, PD3

[output_pin switch]
pin: PA6

# [gcode_macro LAST_PROBE]
# gcode:
#     {% set escaped_msg = printer.probe.last_z_min %}
#     SET_DISPLAY_TEXT MSG="{escaped_msg|float}"
#     RESPOND TYPE=command MSG="{escaped_msg}"

[virtual_sdcard]
path: /home/dietpi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[stepper_x]
step_pin: PC3
dir_pin: !PC2
enable_pin: !PC5
microsteps: 16
rotation_distance: 37.5 # 18.75
endstop_pin: ^!PA3
position_min: -15.20
position_endstop: -15.20
position_max: 215.20
homing_speed: 35

[stepper_y]
step_pin: PC7
dir_pin: !PC6
enable_pin: !PC5
microsteps: 16
rotation_distance: 37.5 # 18.75
endstop_pin: ^PA5
position_min: -0.90
position_endstop: 0
position_max: 202
homing_speed: 35

[stepper_z]
step_pin: PD4
dir_pin: !PD5
enable_pin: !PC5
microsteps: 16
rotation_distance: 4
endstop_pin: ^PA0
position_min: -1
position_endstop: 0.0
position_max: 210.6
homing_speed: 20

[probe]
pin: ^PA0
x_offset: 0.0
y_offset: 0.0
# z_offset: -0.10
z_offset: 0.0
speed: 2
lift_speed: 25
samples: 3
sample_retract_dist: 2.0
samples_result: average
samples_tolerance: 0.5
samples_tolerance_retries: 0

[extruder]
max_extrude_only_distance: 100.0
step_pin: PD2
dir_pin: !PD3
enable_pin: !PC5
microsteps: 16
# rotation_distance берётся из GLOBAL
rotation_distance: 7.0  # 7,074481020493887
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PD7
sensor_type: PT1000
pullup_resistor: 1400
sensor_pin: PA4
control: pid
# tuned for stock hardware with 200 degree Celsius target
pid_Kp: 24.00
pid_Ki: 0.88
pid_Kd: 80.00
min_extrude_temp: 10 # TODO поправить после отладки
min_temp: 0
max_temp: 250

[extruder1]
# max_extrude_only_distance: 100.0
# step_pin: PB2
# dir_pin: PD3
# enable_pin: !PC5
# microsteps: 16
# rotation_distance: 7.0  # 7,074481020493887
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB3
sensor_type: PT1000 # NTC 100K MGB18-104F39050L32
pullup_resistor: 1400
sensor_pin: PA1
control: pid
# tuned for stock hardware with 200 degree Celsius target
pid_Kp: 24.00
pid_Ki: 0.88
pid_Kd: 80.00
min_extrude_temp: 10 # TODO поправить после отладки
min_temp: 0
max_temp: 250 

[heater_bed]
heater_pin: PB4
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA2
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_Kp: 196.00
pid_Ki: 33.02
pid_Kd: 290.00
min_temp: 0
max_temp: 130

[fan]
pin: PD6

[printer]
kinematics: corexy
max_velocity: 200
max_accel: 2000
max_z_velocity: 15
max_z_accel: 500

# # [display]
# # lcd_type: hd44780

# # encoder_pins: ^PB0, ^PB2
# # click_pin: ^!PC0

# # The print bed can move so far to the front, that the nozzle can reach the
# # plastic cover of the print bed heater cable (only when the bed is moved by
# # hand). By homing the Y axis before the X axis, it is ensured the nozzle will
# # not melt through the plastic part.
# # BEWARE: You will lose the ability to home axes individually. The printer will
# # always home all axes for every G28 command.
# #[homing_override]
# #gcode:
# # G28 Y0
# # G28 X0
# # G28 Z0

